* {
    margin: 0;
    padding: 0;
}


/* navbar */
nav {
    display: flex;
    background-color: rgb(205, 218, 248);
    justify-content: space-around;
    /* padding: 15px 0; */
    color: rgb(47, 58, 103);
    font-family: Syne;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
}

nav ul li a {
    color: rgb(47, 58, 103);
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li a:hover {
    color: rgb(230, 243, 248);
}

/* hambuger menu */
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-evenly;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(47, 58, 103);
    border-radius: 3px;

}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0.8;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
}



/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width:768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width:576px) {
    nav ul {
        display: none;
    }
}
